{% extends 'common.html' %}

{% block page_content %}
    {% if g.identity.name == 'anon' %}
        <h2>You must log in to access this page</h2>
    {% else %}
        <h2>Your current privileges</h2>
    {% endif %}

    <ul>
        {% for p in priv %}
            <li>{{ p }}</li>
        {% endfor %}
    </ul>
{% endblock %}
