{% extends 'common.html' %}
{% block title %}Closed Requests{% endblock %}

{% block body %}
      <div class='container container-wide'>
        <div class='row'>
          <div class='col-xs-12 centered'>
            <div class='page-header'>
              <h1>Closed Requests</h1>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-xs-12'>
            <form id='search-closed' name='search-closed' action='{{ url_for('search_closed_requests') }}' method='get'>
              <div class='form-group'>
                <label for='search'>Enter your search keywords</label>
                <div class='input-group'>
                  <input type='text' class='form-control input-sm' id='search' name='search' value='{{ search }}'>
                  <span class='input-group-btn'>
                    <button type='submit' class='btn btn-sm btn-default'>Submit</button>
                  </span>
                </div>
              </div>
            </form>

            {% if search %}
              Displaying results for search on terms <code>{{ ', '.join(search.split()) }}</code>
              <br /><br />
            {% endif %}

            <div class='table-responsive'>
              <table class='table table-striped table-bordered table-hover fill-width'>
                <thead>
                  <tr>
                    <th>Ticket Number</th>
                    <th>Severity</th>
                    <th>Category</th>
                    <th>Assigned To</th>
                    <th>Description</th>
                    <th>Full Name</th>
                    <th>IP Address</th>
                  </tr>
                </thead>
                <tbody>
                  {% for request in requests %}
                  {# get rid of ID from request #}
                  <tr>
                    <td><a href='{{ url_for('TrackRequest:get', ticket_id=request.ticket_id) }}'>{{ request.ticket_id }}</a></td>
                    <td class='centered no-padding'>
                      <span class='severity {{ request.severity.lower() }}'></span>
                    </td>
                    {% for i in (request.category, request.technician.name, request.description, request.full_name, request.ip_address) %}
                    <td style='white-space: normal;'>
                      {{ i }}
                    </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class='centered'>
              <ul class='pagination'>
                {% if num < 5 %}
                  {% set lower_bound = 1 %}
                {% elif num - page_num < 2 %}
                  {% set lower_bound = num - 4 %}
                {% else %}
                  {% set lower_bound = 1 if 1 > page_num - 2 else page_num - 2 %}
                {% endif %}

                {% if page_num < 3 %}
                  {% set upper_bound = 5 if num > 5 else num %}
                {% else %}
                  {% set upper_bound = num if num < page_num + 2 else page_num + 2 %}
                {% endif %}

                <li {% if page_num-1 == 0 %}class='disabled'{% endif %}>
                  <a href='{{ url_for('ViewClosedRequests:index', page= page_num-1) }}'>&laquo</a>
                </li>
                {% for p in range(lower_bound, upper_bound+1) %}
                <li {% if page_num == p %}class='active'{% endif %}>
                  <a href='{{ url_for('ViewClosedRequests:index', page=p) }}'>{{ p }}</a>
                </li>
                {% endfor %}
                <li {% if page_num+1 > num %}class='disabled'{% endif %}>
                  <a href='{{ url_for('ViewClosedRequests:index', page= page_num+1) }}'>&raquo</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
