{% extends "common.html" %}
{% block title %}Track Request{% endblock %}

{% block body %}
      <div class="container">
        <div class="page-header">
          <div class="row">
            <div class="col-xs-12 centered">
              <h1>Track a request</h1>
            </div>
          </div>
        </div>

        <div>
          <form id='request-form' name='request-form' action='{{ url_for('TrackRequest:post') }}' method='POST'>
            <div class='form-group'>
              <label for='ticket'>Enter your ticket number</label>
              <input type='text' class='form-control input-sm' id='ticket' name='ticket'>
            </div>

            <button type='submit' class='btn btn-default btn-sm'>Submit</button>
          </form>

          <script>
            $( "#request-form" ).validate({
              errorElement: "div",
              focusCleanup: true,
              errorClass: "tooltip",
              validClass: "",

              rules: {
                ticket: "required",
              }
            });
          </script>
        </div>
      </div>
{% endblock %}
