{% extends 'common.html' %}
{% block title %}Show Request{% endblock %}

{% block extended_head %}
    <script>
      $(document).ready( function() {
        if (! $('#paused').prop('checked') ) {
          $('#reasonAndETA').toggle();
        }

        $('#paused').click( function () {
          $('#reasonAndETA').toggle();
        });
      });
    </script>
{% endblock %}

{% block body %}
      <div class='container'>
        <div class='page-header'>
          <div class='row'>
            <div class='col-xs-12 centered'>
              <h1>Help Desk Ticket {{ ticket_id }}</h1>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-xs-12'>
            {% if not error %}
            <form id='request-form' name='request-form' action='{{ url_for('UpdateRequest:post') }}' method='post'>
              <div class='form-group'>
                <label for='ip_address'>IP Address</label>
                <input type='text' class='form-control' id='ip_address' name='ip_address' readonly value='{{ ip_address }}' size='30'>
              </div>

              <div class='form-group'>
                <label for='full_name'>Full Name</label>
                <input type='text' class='form-control' name='full_name' readonly value='{{ full_name }}' size='30'>
              </div>

              <div class='form-group'>
                <label for='email'>Email Address</label>
                <input type='text' class='form-control' name='email' readonly value='{{ email }}'>
              </div>

              <div class='form-group'>
                <label for='company'>Company</label>
                <select name='company' class='form-control'>
                {% for site in g.companies %}
                  <option {{ 'selected' if site.company_name == company.company_name }} value='{{ site.company_name }}'>{{ site.company_name }}</option>
                {% endfor %}
                </select>
              </div>

              <div class='form-group'>
                <label for='category'>Category</label>
                <select class='form-control' name='category'>
                {% for cat in g.categories %}
                <option {{ 'selected' if cat == category }} value='{{ cat }}'>{{ cat }}</option>
                {% endfor %}
                </select>
              </div>

              <div class='form-group'>
                <label>Response Time:</label>
                {% if dateclosed %}
                  {% for minutes, message in ((60, '60 minutes'), (180, '1-3 hours'), (360, '3-6 hours'), (24*60, '1 day'), (2*24*60, '2 days'), (3*24*60, '3 days'), (7*24*60, 'More than 3 days')) %}
                    {% if responsetime < minutes %}
                      {{ message }} {# ... or I can deal with scope. #}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                  {% if responsetime > 7*24*60 %}
                    More than 3 days
                  {% endif %}
                {% endif %}
              </div>

              <div class='form-group'>
                <label for='severity'>Severity</label>
                <select class='form-control' name='severity'>
                {% for sev in ('Low', 'Medium', 'High', 'Critical') %}
                  <option {{ 'selected' if sev.lower() == severity.lower() }}>{{ sev }}</option>
                {% endfor %}
                </select>
              </div>

              <div class='form-group'>
                <label for='assignedto'>Assigned to</label>
                <select class='form-control' name='technician'>
                  <option></option>
                  {% for tech in g.techs %}
                  <option {{ 'selected' if tech == technician.name }}>{{ tech }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class='input-group'>
                <span class='input-group-addon'>Paused</span>
                <span class='input-group-addon' style='background-color: #FFF;'>
                  <input type='checkbox' id='paused' name='paused' {{ 'checked' if paused }}>
                </span>
                <span class='input-group-addon'>Difficulty</span>
                <select class='form-control' name='estimated_difficulty'>
                  {% for opt in ('Easy', 'Medium', 'Hard') %}
                  <option {{ 'selected' if opt == estimated_difficulty }}>{{ opt }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class='form-group' id='reasonAndETA' style='padding-right: 3%; padding-left: 3%;'>
                <label for='paused_reason'>Reason</label>
                <input type='text' class='form-control' id='paused_reason' name='paused_reason' value='{{ paused_reason or '' }}'>
                <label for='unpaused_ETA'>ETA</label>
                <input type='text' class='form-control' id='unpaused_ETA' name='unpaused_ETA' value='{{ unpaused_ETA or '' }}'>
              </div>

              <div class='form-group'>
                <label for='status'>Status</label>
                <select class='form-control' name='status' id='status'>
                  {% for stat in ('Open', 'Closed') %}
                  <option {{ 'selected' if stat.lower() == status.lower() }}>{{ stat }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class='input-group'>
                <span class='input-group-addon'>Estimated Time</span>
                <input class='form-control' type='text' name='estimated_time' value='{{ estimated_time or '' }}' size='30'>
                <span class='input-group-addon'>Email Update</span>
                <span class='input-group-addon'>
                  <input type='checkbox' name='email_update' {{ 'checked' if email_update }} size='30'>
                </span>
                <span class='input-group-addon'>Release Call</span>
                <span class='input-group-addon'>
                  <input type='checkbox' name='releasecall' {{ 'checked' if releasecall }} size='30'>
                </span>
              </div>

              <div class='form-group'>
                <label for='description'>Description</label>
                <textarea class='form-control' name='description'>{{ description }}</textarea>
              </div>

              <div class='form-group'>
                <label for='update_info'>Update</label>
                <textarea class='form-control' name='update_info'>{{ update_info or ''}}</textarea>
              </div>

              <div class='form-group'>
                <label for='resolution'>Resolution</label>
                <textarea class='form-control' name='resolution' id='resolution'>{{ resolution or '' }}</textarea>
              </div>

              {% if screenshot %}
              <a target='_blank' href='{{ url_for('static', filename='supa/data/'+screenshot)  }}'><img style='max-width: 100%;' src='{{ url_for('static', filename='supa/data/'+screenshot) }}'></a>
              {% endif %}

              <input name='ticket_id' type='hidden' value='{{ ticket_id }}'>

              {% if not current_user.is_anonymous() %}
                <button type='submit' class='btn btn-default' name='action' value='update'>Update</button>
                <button type='submit' class='btn btn-sm btn-danger pull-right' name='action' value='delete'>Delete</button>
              {% endif %}
            </form>

            <script>
              $.validator.addMethod("statusOkay",
                function(value, element) {
                  if ( $('#status').val() == 'Open') {
                    return $('#resolution').val() == '';
                  }
                  if ( $('#status').val() == 'Closed') {
                    return $('#resolution').val() != '';
                  }
                  return false;
                },
                function (value, element) {
                  if ( $('#status').val() == 'Open') {
                    return "Resolution must be empty if Status is Open.";
                  }
                  if ( $('#status').val() == 'Closed') {
                    return "Resolution must be filled in if Status is Closed.";
                  }
                }
              );

              $( "#request-form" ).validate({
                errorElement: "div",
                focusCleanup: true,
                errorClass: "tooltip",
                validClass: "",

                rules: {
                  resolution: {
                    statusOkay: true
                  },
                  status: {
                    statusOkay: true
                  }
                }
              });
            </script>
            {% endif %} {# If block to display ticket if no error #}
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
