{% extends 'common.html' %}
{% block title %}Results{% endblock %}

{% block extended_head %}
    <script>
      $(document).ready(function () {
        $("#btnExport").click(function (e) {
          //getting values of current time for generating the file name
          var dt = new Date();
          var day = dt.getDate();
          var month = dt.getMonth() + 1;
          var year = dt.getFullYear();
          var hour = dt.getHours();
          var mins = dt.getMinutes();
          var postfix = day + "-" + month + "-" + year + " " + hour + "-" + mins;
          //creating a temporary HTML link element (they support setting file names)
          var a = document.createElement('a');
          //getting data from our div that contains the HTML table
          var data_type = 'data:application/vnd.ms-excel';
          var table_div = document.getElementById('dvData');
          var table_html = table_div.outerHTML.replace(/ /g, '%20');
          table_html = table_html.replace(/Export/g, '');
          a.href = data_type + ', ' + table_html;
          //setting the file name
          a.download = 'report ' + postfix + '.xls';
          //triggering the function
          a.click();
          //just in case, prevent default behaviour
          e.preventDefault();
        });
      });
    </script>
{% endblock %}

{% block body %}
      <div class='container container-wide'>
        <div class='page-header'>
          <div class='row'>
            <div class='col-xs-12 centered'>
              <h1>Report Results</h1>
            </div>
          </div>
        </div>

        <div class='table-responsive'>
          <table id='dvData' class='table table-striped table-bordered table-hover fill-width'>
            <tbody>
              <thead>
                <tr>
                  <td bgcolor='#149c82' colspan='8'>
                    <h2>Help Desk Requests {{ start_date }} - {{ end_date }}</h2>
                  </td>
                </tr>
              </thead>
              {% if stats %}
                {% for company in stats | sort %}
                  {% if company != 'Totals' %}
              <thead>
                <tr>
                  <th>Company:</th>
                  <th>{{ company }}</th>
                  <th>Total: {{ stats[company]['totals']['total'] }}</th>
                  <th>0-60 min</th>
                  <th>1hr-24hr</th>
                  <th>Over 24hr</th>
                  <th>Open tickets</th>
                  <th>Reason & ETA</th>
                </tr>
              </thead>

              <tbody>
                  {% for category in stats[company] | sort %}
                    {% if category != 'totals' %}
                <tr>
                  <td></td>
                  <td>{{ category }}</td>
                  <td>Total: {{ stats[company][category]['total'] }}</td>
                  <td>{{ stats[company][category]['0-60 min'] or '-' }}</td>
                  <td>{{ stats[company][category]['1hr-24hr'] or '-' }}</td>
                  <td>{{ stats[company][category]['Over 24hr'] or '-' }}</td>
                  <td>{{ stats[company][category]['Open Tickets'] or '-' }}</td>
                  <td>
                      {% for ETA, reason in stats[company][category]['reasons'] %}
                    <table class='table table-bordered table-condensed fill-width'>
                      <tr>
                        <td>ETA</td>
                        <td>{{ ETA }}</td>
                      </tr>
                      <tr>
                        <td>Reason</td>
                        <td>{{ reason[:60] }}</td>
                      </tr>
                    </table>
                      {% endfor %}
                  </td>
                </tr>
                    {% endif %}
                  {% endfor %}
              <tr>
                <td></td>
                <td>Totals</td>
                <td>Tasks opened: {{ stats[company]['totals']['total'] }}</td>
                <td colspan='3'>Tasks closed: {{ stats[company]['totals']['Closed'] or 0 }}</td>
                <td>Tasks outstanding: {{ stats[company]['totals']['Open'] or 0 }}</td>
                <td></td>
              </tr>
              </tbody>
                {% endif %}
              {% endfor %}
              <thead>
                <tr>
                  <th colspan='2'>Totals</th>
                  <th>Tasks opened: {{ stats['Totals']['total'] }}</th>
                  <th colspan='3'>Tasks closed: {{ stats['Totals']['Closed'] or 0 }}</th>
                  <th>Tasks outstanding: {{ stats['Totals']['Open'] or 0 }}</th>
                  <td><button id='btnExport' class='btn btn-default btn-xs fill-width'>Export</button></td>
                </tr>
              </thead>
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}
