{% extends 'common.html' %}
{% block title %}Reports{% endblock %}

{% block extended_head %}
  <script>
    $(document).ready( function() {
      $('#toggle-all').click( function() {
        $('input:checkbox').each( function() {
          $(this).prop('checked', $('#toggle-all').prop('checked'));
        });
      });
    });
  </script>
{% endblock %}

{% block body %}
      <div class='container'>
        <div class='page-header'>
          <div class='row'>
            <div class='col-xs-12 centered'>
              <h1>Reports</h1>
            </div>
          </div>
        </div>

        <div class='row'>
          <form name='report' id='report' action='{{ url_for('Reports:post') }}' method='post'>
            <div class='col-xs-6'>
              <input type='checkbox' id='toggle-all'>Toggle all<br />
              {% for company in g.companies %}
              <input name='{{ company.company_name }}' type='checkbox'>{{ company.company_name }}<br />
              {% endfor %}

              <!-- used to place validation message. -->
              <input type='checkbox' name='valid' onclick='return false;' style='opacity: 0;'>
            </div>
            <div class='col-xs-6'>
              Dates are in the form dd/mm/yyyy<br />
              e.g. 1/11/2010 is the 1st of November 2010
              <div class='form-group'>
                <label for='startdate'>Start Date</label>
                <input class='form-control' type='text' name='startdate' value='{{ yesterday }}'>
              </div>
              <div class='form-group'>
                <label for='enddate'>End Date</label>
                <input class='form-control' type='text' name='enddate' value='{{ today }}'>
              </div>
              <button type='submit' class='btn btn-default'>Send</button>
              <button type='reset' class='btn btn-warning'>Reset</button>
            </div>
          </form>
          <script>
            $.validator.addMethod("companySelected",
              function(value, element) {
                if ( $('input:checkbox:checked').length > 0) {
                  return true;
                }
                return false;
              }, "At least one company must be selected."
            );

            $('#report').validate({
              errorElement: "div",
              focusCleanup: true,
              errorClass: "tooltip",
              validClass: "",

              rules: {
                'valid': {
                  companySelected: true
                }
              }
            });
          </script>
        </div>
      </div>
{% endblock %}
