body {
    padding-top: 68px;
}

.table-responsive {
    overflow: auto;
    overflow-x: auto;
}

.alert {
    margin-bottom: 0;
}
.alert-container {
    padding-bottom: 0 !important;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    pointer-events: none;
}

#dvData > tbody > tr {
    vertical-align: top;
}

/* Ewwww. */
table > tbody > tr > td > table {
    margin-bottom: 0 !important;
}

.fill-width {
    width: 100%;
}

textarea {
    width: 100%;
}

input.tooltip,
select.tooltip,
textarea.tooltip {
    opacity: 1;
    position: relative;
}
div.valid {
    display: none !important;
}
div.tooltip {
    position: relative;
    opacity: 1;

    background-color: #A34;
    color: #FFF;

    margin-left: 20px;
    padding: 10px 20px;
    margin-top: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    width: 255px;
}
div.tooltip:before {
    border-top: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #A34;
    border-left: 7px solid transparent;
    border-bottom-color: #A34;
    left: 124px;
    top: -14px;
    position: absolute;
    display: inline-block;
    content: '';
}

.dropdown-glyph {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: 2px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.dropdown-caret-down {
    border-top: 10px solid;
    border-bottom: 0;
}
.dropdown-caret-up {
    border-top: 0;
    border-bottom: 10px solid;
}

.centered {
    text-align: center;
}
.no-padding {
    padding: 0 !important;
}

.container {
    max-width: 950px;
}

.container-wide {
    max-width: 100%;
    width: 80%;
}

.client-info {
    max-width: 340px;

    border: 1px dashed #E06;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;

    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;

    padding: 10px 20px 10px;
}

.navbar {
    min-height: 45px;
    margin-bottom: 0;
}

.navbar-nav > li > a {
    padding: 11px 15px 11px 15px;
}

.page-header h1 {
    font-size: 35px;
}

.page-header {
    padding-bottom: 0;
}

td > table > tbody > tr :first-child {
    width: 70px;
}

.login-table {
    margin: 0 auto 0;
    display: inline-block;
}
.login-table > tbody > tr > td {
    min-width: 5%;
    width: 120px;
    border-left: 1px solid #5A5;
    border-right: 1px solid #5A5;
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

span.severity:before {
    content: '\e600';

    font-size: 34px;

    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span.low:before {
    color: #4DC900;
}

span.medium:before {
    color: #FD0;
}

span.high:before {
    color: #FF9500;
}

span.critical:before {
    color: #E80000;
}

@media (min-width: 768px) {
    .page-header h1 {
        font-size: 45px;
    }
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
    body {
        padding-top: 45px;
    }
}


/* I am bad at my job */
@media (min-width: 768px) and (max-width: 862px) {
    body {
        padding-top: 87px;
    }
}
