/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com

Adapted slightly by Rafi Blecher 9/12/13
*/

* {margin:0;padding:0;}

/* must declare 0 margins on everything, also for main layout components use padding, not
vertical margins (top and bottom) to add spacing, else those margins get added to total height
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#main {min-height: 100%;}

.container {overflow:auto;
    padding-bottom: 93px;}  /* must be same height as the footer */

#footer {position: relative;
    text-align: center;
    margin-top: -93px; /* negative value of footer height */
    height: 72px;
    padding-top: 10px;
    clear:both;}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

@media (min-width: 768px) {
    .container {
        padding-bottom: 56px;
    }

    #footer {
        margin-top: -56px;
        height: 56px;
    }
}

/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
    <style type="text/css">
        #main {display:table;height:100%}
    </style>
<![endif]-->

*/
