<!DOCTYPE HTML>

<html>
  <head>
    <title>
      {% block title %}{% endblock %} - Helpdesk
    </title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />

    <link rel='stylesheet' href='{{ url_for('static', filename='css/bootstrap.css') }}' media='screen'>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/bootswatch.min.css') }}'>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/helpdesk.css') }}'>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/sticky_footer.css') }}'>

    <script src='{{ url_for('static', filename='js/jquery.js') }}'></script>
    <script src='{{ url_for('static', filename='js/bootstrap.min.js') }}'></script>
    <script src='{{ url_for('static', filename='js/jquery.validate.js') }}'></script>

    <script src='{{ url_for('static', filename='js/webfont.js') }}'></script>
    <script type='text/javascript'>
      WebFont.load({
        google: {
          families: ['Lato']
        }
      });

      $(document).ready( function() {
        $('.dropdown-glyph').click( function() {
          toggleClass('dropdown-caret-down').toggleClass('dropdown-caret-up');
        });
      });
    </script>

    <!--[if !IE 7]>
      <style type='text/css'>
        #wrap {display:table;height:100%}
      </style>
    <![endif]-->

    {% block extended_head %}{% endblock %}
  </head>

  <body>
    <div id='main'>
      <nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#links'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='dropdown-glyph dropdown-caret-down'></span>
          </button>
        </div>

        <div class='collapse navbar-collapse' id='links'>
          <ul class='nav navbar-nav'>
          {% for page in g.navbar_pages -%}
            {%- set addition = '' -%}
            {%- if (g.navbar_pages[page] == g.active_page[1:]) or (page == 'New Request' and g.active_page == '/') -%}
              {%- set addition = ' class=\'active\'' -%}
            {%- endif %}
            <li{{ addition | safe }}><a href="{{ url_for(g.navbar_pages[page]) }}">{{ page }}</a></li>
          {% endfor -%}
          </ul>
        </div>
      </nav>
      <div class='container alert-container'>
        {% for type, message in get_flashed_messages(with_categories = true) %}
          <div class="alert alert-{{ type.lower() }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{ 'Error' if type == 'danger' else type.capitalize() }}</strong> {{ message }}
          </div>
        {% endfor %}
      </div>

      {% block body %}{% endblock %}
    </div>

    <div id='footer'>
      <table class='login-table'>
        <tr>
          {% if not g.logged_in %}
          <td><a href='{{ url_for('Login:index') }}'>Log In</a></td>
          {% endif %}
        </tr>
      </table><br>
      <b>Our Helpdesk</b> - We're your first and last line of support!
    </div>
  </body>
</html>
