{% extends "common.html" %}
{% block title %}Login{% endblock %}

{% block body %}
      <div class="container">
        <div class="page-header">
          <div class="row">
            <div class="col-xs-12 centered">
              <h1>Login Page</h1>
            </div>
          </div>
        </div>

        <div>
          <span class='text-danger'>{{ error }}</span>
          <form id='login-form' name='login-form' action='{{ url_for('Login:post') }}' method='post'>
            <div class='form-group'>
              <label for='name'>User name</label>
              <input type='text' class='form-control input-sm' id='name' name='name'>
            </div>

            <div class='form-group'>
              <label for='password'>Password</label>
              <input type='password' class='form-control input-sm' id='password' name='password'>
            </div>

            <button type='submit' class='btn btn-sm btn-default'>Log In</button>
          </form>

          <script>
            $( "#login-form" ).validate({
              errorElement: "div",
              focusCleanup: true,
              errorClass: "tooltip",
              validClass: "",

              rules: {
                name: "required",
                password: "required",
              }
            });
          </script>
        </div>
      </div>
{% endblock %}
