{% extends 'common.html' %}
{% block title %}Home{% endblock %}

{% block body %}
      <div class='container'>
        <div class='page-header'>
          <div class='row'>
            <div class='col-xs-12 centered'>
              <h1>Help Desk Request Form</h1>
            </div>
            <div class='col-xs-12 col-sm-6'>
              <div class='client-info'>
                IP Address: {{ ip_address }}<br />
                Date and Time: {{ current_time }} <span id='time'></span><br />
                <script>
                  function pad (str, max) {
                    return str.length < max ? pad("0" + str, max) : str;
                  }

                  function updateTime() {
                    $('#time').text( function() {
                      var time = new Date,
                      h = pad(time.getHours().toString(), 2),
                      m = pad(time.getMinutes().toString(), 2),
                      s = pad(time.getSeconds().toString(), 2)

                      $('#time').text(h + ':' + m + ':' + s);
                    });
                  }

                  updateTime();

                  setInterval(function() {
                      updateTime();
                    }, 1000);
                </script>
                <i>All fields are required</i>
              </div>
            </div>
            <div class='col-xs-12 col-sm-6'>
              For urgent problems please call:

              <table class='table table-striped table-hover table-condensed'>
                <tbody>
                {% for user in users %}
                  <tr>
                    <td>{{ user.name }}</td>
                    <td>
                      <a>{{ user.mobile }}</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div>
          <form id='request-form' name='request-form' action='{{ url_for('process_request') }}' method='post'>
            <button type='reset' class='btn btn-xs btn-warning pull-right'>Reset Form</button>

            <div class='form-group'>
              <label for='full_name'>Name</label>
              <input type='text' class='form-control input-sm' id='full_name' name='full_name'>
            </div>

            <div class='form-group'>
              <label for='email'>Email Address</label>
              <input type='email' class='form-control input-sm' id='email' name='email'>
            </div>

            <div class='form-group'>
              <label for='company'>Company / Branch</label>
              <input readonly type='text' class='form-control input-sm' id='company' name='company' value='{{ company }}'>
              {#               <select id='company' name='company' class='form-control input-sm'>
                <option></option>
                {% for c in g.companies %}
                <option {{ 'selected' if c == company }} >{{ c }}</option>
                {% endfor %}
              </select> #}
            </div>

            <div class='form-group'>
              <label for='severity'>Severity</label>
              <select id='severity' name='severity' class='form-control input-sm'>
                <option></option>
                {% for severity in ('Low', 'Medium', 'High', 'Critical') %}
                  <option>{{ severity }}</option>
                {% endfor %}
              </select>
            </div>

            <div class='form-group'>
              <label for='category'>Category</label>
              <select id='category' name='category' class='form-control input-sm'>
                <option></option>
                {% for category in g.categories | sort %}
                  <option>{{category }}</option>
                {% endfor %}
              </select>
            </div>

            <div class='form-group'>
              <label for='description'>Description</label>
              <textarea class='form-control input-sm' rows='5' id='description' name='description'></textarea>
            </div>

            <div class='form-group pull-right'>
              You can submit associated files/screenshots after clicking Submit.
            </div>

            {#
            <iframe class='form-control' style='height: 400px;' src='/helpdesk/static/supa/demo.php'>
            </iframe>
            #}
            <input type='hidden' id='imageName' name='imageName'>
            <button type='submit' class='btn btn-sm btn-default'>Submit</button>
          </form>

          <script>
            $( "#request-form" ).validate({
              errorElement: "div",
              focusCleanup: true,
              errorClass: "tooltip",
              validClass: "",

              rules: {
                full_name: "required",
                email: {
                  required: true,
                  email: true
                },
                company: "required",
                severity: "required",
                category: "required",
                description: "required"
              },

              messages: {
                email: {
                  email: "Your email must be in the form name@domain.com"
                }
              }
            });
          </script>
        </div>
      </div>
      <script>
        $(document).ready( function () {
          var time = new Date;
          setTimeout(function () { $('iframe').contents().find('#screenshot-name').attr('value', time); }, 1500);
          $('#imageName').val(time);
        });
      </script>

{% endblock %}
