{% extends 'common.html' %}
{% block title %}My Next Task{% endblock %}

{% block extended_head %}
  <script>
    function startAutoRefresh() {
      window.location.hash = '#going';
      return setTimeout(
        function() {
          selectedBoxes = $('input:checked');
          $.get(location.href, function(data) {
            document.open();
            document.write(data);
            document.close();
            selectedBoxes.each( function () {
              /* Classes are space-separated but JQuery requires the selector to be
              * .classA.classB, so replace ' ' with '.'
              * Then, trigger the 'click' event to re-check the checkboxes */

              $('.' + $(this).attr('class').replace(' ', '.') ).click();
            });

          });
        },
        30000);
    }


    $(document).ready(function(){
      going = startAutoRefresh();

      $("#toggle-refresh").click( function() {
        var hash = window.location.hash;
        if (hash == '#going') {
          clearTimeout(going);
          window.location.hash = '#paused';
        } else if (hash == '#paused') {
          going = startAutoRefresh();
        }
      });

      $('.toggle').click ( function() {
        company = $(this).attr('class').split(/\s+/)[1];
        $('tr.'+company).toggle();
      });
    });
  </script>
{% endblock %}

{% block body %}
      <div class='container container-wide'>
        <div class='page-header'>
          <div class='row'>
            <div class='col-xs-12 centered'>
              <h1>My Next Task</h1>
            </div>
            <div class='col-xs-6'>
              <div class='pull-right'>
                {% for company in companies %}
                <input type='checkbox' class='toggle {{ company|lower }}'>Hide {{ company }}<br>
                {% endfor %}
              </div>
            </div>
            <div class='col-xs-6'>
              <button class="btn btn-default btn-sm" id='toggle-refresh'>Toggle Auto-Refresh</button>
            </div>
          </div>
        </div>

        {% for table in tables %}
        <div class='row'>
          <div class='col-xs-12'>
            <div class='centered'>
              {% if table == 'Open' -%}
              <h3>Unassigned Requests - {{ tables[table] | length }}</h3>
              {%- elif table.id|string() == session['user_id'] -%}
              <h3>Your Requests - {{ tables[table] | length }}</h3>
              {%- else -%}
              <h3>{{ table.name }}'s Requests - {{ tables[table] | length }}</h3>
              {%- endif %}
            </div>

          {%- if not tables[table] %}
            {% if table == 'Open' -%}
            <h5 class='text-danger'>No unassigned requests</h5>
            {%- elif table.id|string() == session['user_id'] -%}
            <h5 class='text-danger'>You have no assigned requests</h5>
            {%- else -%}
            <h5 class='text-danger'>No requests assigned to {{ table.name }}</h5>
            {%- endif -%}
          {% else %}
            <div class='table-responsive'>
              <table class='table table-striped table-bordered table-hover fill-width'>
                <thead>
                  <tr>
                    <th>Ticket Number</th>
                    <th>Severity</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Screenshot</th>
                    <th>Full Name</th>
                    <th>IP Address</th>
                    <th>Company</th>
                    {%- if table != 'Open' -%}
                    <th>Paused</th>
                    {%- endif -%}
                  </tr>
                </thead>
                <tbody>
                {% for request in tables[table] %}
                  {# get rid of ID at front. #}
                  <tr class='{{ request.company.company_name.split()[0].lower()  }}'>
                    <td><a href='{{ url_for('TrackRequest:get', ticket_id=request.ticket_id) }}'>{{ request.ticket_id }}</a></td>
                    <td class='centered no-padding'>
                      <span class='severity {{ request.severity.lower() }}'></span>
                    </td>
                  {% if table != 'Open' -%}
                    {%- set column_indices = (request.category, request.description, request.screenshot, request.full_name, request.ip_address, request.company.company_name, request.paused) -%}
                  {%- else -%}
                    {%- set column_indices = (request.category, request.description, request.screenshot, request.full_name, request.ip_address, request.company.company_name) -%}
                  {%- endif -%}
                  {%- for i in column_indices %}
                    <td style='white-space: normal;'>
                      {%- if i == request.paused -%}
                      {{ 'Yes' if i else 'No' }}
                      {%- else -%}
                      {{ i }}
                      {%- endif -%}
                    </td>
                  {% endfor %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}
