{% extends 'common.html' %}
{% block title %}Request submission error{% endblock %}

{% block body %}
      <div class='container'>
        <div class='page-header'>
          <div class='row'>
            <div class='col-xs-12 centered'>
              <h1>Oh no!</h1>
              <h2>A serious error has occurred.</h2>
            </div>
          </div>
        </div>

        <div>
          An error has occurred while trying to process your ticket. Please send the following error message to Rafi Blecher at <a href='mailto:rafiblecher@gmail.com'>rafiblecher@gmail.com</a>
          <code>{{ e }}</code><br />
          <code>
            {% for line in e_traceback %}
              {{ line }}<br />
            {% endfor %}
          </code>
          <code>
            {{ form }}
          </code>
        </div>
      </div>
{% endblock %}

