{% extends 'common.html' %}
{% block title %}Request Entered{% endblock %}

{% block body %}
      <div class="container">
        <div class="page-header">
          <div class="row">
            <div class="col-xs-12 centered">
              <h1>Request Entered</h1>
            </div>
          </div>
        </div>
        <div>
          Thank you {{ fullname }}. The information you submitted has been processed.<br />
          Your ticket number is {{ ticket }}<br />
          Track your ticket <a href='{{ url_for('TrackRequest:get', ticket_id=ticket) }}'>here</a><br />
          Click <a href='mailto:{{ email }}?Subject=Files for ticket {{ ticket }}'>here</a> to email files/screenshots associated with this Helpdesk request.
        </div>
      </div>
{% endblock %}
