{% extends 'common.html' %}

{% block body %}
  <div class='container'>
    <div class='row'>
      <div clas='col-xs-12'>
        <h2>Add New User</h2>
        <form id='edit-user-form' action='{{ url_for('EditAccount:post') }}' method='POST'>
          <input type='hidden' name='id' value='{{ technician.id }}'>
          <div class='form-group'>
            <label for='name'>Name</label>
            <input type='text' class='form-control' name='name' id='name' value='{{ technician.name }}'>
          </div>

          <div class='form-group'>
            <label for='email'>Email</label>
            <input type='email' class='form-control' name='email' id='email' value='{{ technician.email }}'>
          </div>

          <div class='form-group'>
            <label for='mobile'>Mobile</label>
            <input type='text' class='form-control' name='mobile' id='mobile' value='{{ technician.mobile }}'>
          </div>

          <div class='form-group'>
            <label for='password'>Password <small>leave empty if you don't want to change it</small></label>
            <input type='password' class='form-control' name='password' id='password'>
          </div>

          <div class='form-group'>
            <label for='password_confirmation'>Confirm Password</label>
            <input type='password' class='form-control' name='password_confirmation' id='password_confirmation'>
          </div>

          <button class='btn btn-default'>Submit</button>
        </form>
        <script>
            $.validator.addMethod("passwordMatch", function(value, element) {
                return $('#password_confirmation').val() == $('#password').val();
            }, "Passwords must match");

            $( '#edit-user-form' ).validate({
                errorElement: 'div',
                focusCleanup: true,
                errorClass: 'tooltip',
                validClass: '',

                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password_confirmation: {
                        passwordMatch: true
                    }
                },

                messages: {
                    email: {
                        email: 'Not an email address',
                    }
                }
            });
        </script>
      </div> {# div.col-xs-12 #}
    </div> {# div.row #}
  </div> {# div.container #}
{% endblock %}
