{% extends 'common.html' %}

{% block body %}
  <div class='container'>
    <div class='row'>
      <div clas='col-xs-12'>
        <h2>Add New User</h2>
        <form id='new-user-form' action='{{ url_for('Register:post') }}' method='POST'>
          <div class='form-group'>
            <label for='name'>Name</label>
            <input type='text' class='form-control' name='name' id='name'>
          </div>

          <div class='form-group'>
            <label for='email'>Email</label>
            <input type='email' class='form-control' name='email' id='email'>
          </div>

          <div class='form-group'>
            <label for='mobile'>Mobile</label>
            <input type='text' class='form-control' name='mobile' id='mobile'>
          </div>

          <div class='form-group'>
            <label for='password'>Password</label>
            <input type='password' class='form-control' name='password' id='password'>
          </div>

          <div class='form-group'>
            <label for='password_confirmation'>Confirm Password</label>
            <input type='password' class='form-control' name='password_confirmation' id='password_confirmation'>
          </div>

          <button class='btn btn-default'>Submit</button>
        </form>
        <script>
            $.validator.addMethod("passwordMatch", function(value, element) {
                return $('#password_confirmation').val() == $('#password').val();
            }, "Passwords must match");

            $( '#new-user-form' ).validate({
                errorElement: 'div',
                focusCleanup: true,
                errorClass: 'tooltip',
                validClass: '',

                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password_confirmation: {
                        passwordMatch: true
                    }
                },

                messages: {
                    email: {
                        email: 'Not an email address',
                    }
                }
            });
        </script>
      </div> {# div.col-xs-12 #}
    </div> {# div.row #}

    <div class='row'>
      <div clas='col-xs-12'>
        <h2>Edit Existing User</h2>
        <table class='table table-striped table-hover table-bordered'>
          <thead>
            <tr>
              <td></td>
              <td>Name</td>
              <td>Email</td>
              <td>Mobile</td>
            </tr>
          </thead>
          <tbody>
            {% for tech in technicians %}
            <tr>
              <td><a href='{{ url_for('EditTechnicians:edit', id=tech.id) }}'>Edit</a></td>
              <td>{{ tech.name }}</td>
              <td>{{ tech.email }}</td>
              <td>{{ tech.mobile }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> {# div.col-xs-12 #}
    </div> {# div.row #}
  </div> {# div.container #}
{% endblock %}
